<!doctype html>
<html lang="es" dir="ltr">

{{>head title='Cambiar la contraseña'}}

<body class="">
    <div class="page">
        <div class="flex-fill">
            {{>header }}

            <div class="my-3 my-md-5">

                <div class="container">

                    <div class="row">

                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="card">
                                <form method="POST" action="/change-password" class="form-group">
                                    <div class="card-header">

                                    </div>
                                    <div class="card-body">

                                        <label class="form-label">Contraseña previa</label>
                                        <div class="input-icon mb-3">
                                            <span class="input-icon-addon">
                                                <i class="fe fe-lock"></i>
                                            </span>
                                            <input name="previous-password" type="password" class="form-control"
                                                placeholder="">
                                        </div>
                                        <label class="form-label">Contraseña nueva</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
                                                <i class="fe fe-lock"></i>
                                            </span>
                                            <input name="new-password" type="password" class="form-control"
                                                placeholder="">
                                        </div>
                                        <label class="form-label">Confirmar contraseña</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon">
                                                <i class="fe fe-lock"></i>
                                            </span>
                                            <input name="new-password-confirm" type="password" class="form-control"
                                                placeholder="">
                                        </div>


                                        {{#if msg}}
                                        <div class="alert alert-{{msg.response}}" role="alert">
                                            {{msg.text}}
                                        </div>
                                        {{/if}}

                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-list text-right">
                                            <button id="changep" type="submit" class="btn btn-secondary">Cambiar la
                                                contraseña</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-4"></div>

                    </div>

                </div>

            </div>
        </div>
        {{>footer}}
        <script src="/apps/admin-template/change-password.js"></script>
    </div>
</body>

</html>