<!doctype html>
<html lang="en" dir="ltr">
{{>head}}

<body class="">
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <div class="text-center mb-6">
              <img src="/admin-template/krusty-lab/images/logo-krusty.svg" class="h-6" alt="">
            </div>
            <form class="card" action="/forgot-password" method="post">
              <div class="card-body p-6">
                <div class="card-title">Olvidé mi contraseña</div>
                <p class="text-muted">Ingrese su dirección de correo electrónico para seguir el proceso de
                  reestablecimiento.</p>
                <div class="form-group">
                  <label class="form-label" for="exampleInputEmail1">Correo electrónico</label>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Ingrese su correo">
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary btn-block">Reestablecer contraseña</button>
                </div>
              </div>
            </form>
            <div class="text-center text-muted">
              Olvidalo, <a href="/login">enviame de vuelta</a> a la pantalla de ingreso.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>