<!doctype html>
<html lang="en" dir="ltr">

{{>head}}

<body class="">
    <div class="page">
        <div class="flex-fill">
            {{>header }}

            <div class="my-3 my-md-5">
            </div>
        </div>
        {{>footer}}
    </div>
</body>

</html>