<!doctype html>
<html lang="es" dir="ltr">

{{> head }}

{{ manage_credentials user}}

<body class="">
  <div class="page">
    <div class="page-single">
      <div class="container">
        <div class="row">
          <div class="col col-login mx-auto">
            <div class="text-center mb-6">
              <img src="./admin-template/krusty-lab/images/logo-krusty.svg" class="h-6" alt="">
            </div>
            <form class="card" action="/login" method="post">
              <div class="card-body p-6">
                <div class="card-title">Inicia a tu cuenta</div>
                {{ login_error error}}
                <div class="form-group">
                  <label class="form-label">Nombre de usuario</label>
                  <input name="username" type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                    placeholder="Escribe tu usuario">
                </div>
                <div class="form-group">
                  <label class="form-label">
                    Contraseña
                    <a href="/forgot-password" class="float-right small">He olvidado mi contraseña</a>
                  </label>
                  <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" />
                    <span class="custom-control-label">Recuerdame</span>
                  </label>
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </div>
              </div>
            </form>
            <div class="text-center text-muted">
              {{!-- ¿No tienes una cuenta aún? <a href="/register">Registrate</a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>