<!doctype html>
<html lang="en" dir="ltr">

{{>head title='Clientes' }}

<body class="">
  <div class="page">
    <div class="flex-fill">
      {{>header }}

      <div class="my-3 my-md-5">

        <div class="container">
          <div class="page-header">
            <h1 class="page-title">
              Matilde
            </h1>
            <div class="page-subtitle">Clientes con licencias</div>
          </div>

          {{DataTableMaker clients 'clientes'}}
        </div>

      </div>
    </div>
    {{>footer}}
  </div>

  <script src="./apps/admin-template/modal.js"></script>
  <script src="./apps/admin-template/dt-custom-actions.js"></script>
</body>

</html>