<!doctype html>
<html lang="en" dir="ltr">
{{>head}}

<body class="">
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <span class="avatar avatar-xxl" style="background-image: url({{ user.img }})">
                            </span>
                        </div>
                        <form class="card" action="/new-password" method="post">
                            <input type="hidden" name="token" value="{{token}}">
                            <input type="hidden" name="nombre" value="{{user.nombre}}">
                            <div class="card-body p-6">
                                <div class="card-title">Reestablece tu contraseña</div>
                                <div class="form-group">
                                    <label class="form-label" for="newpass">Nueva contraseña</label>
                                    <input name="password" type="password" class="form-control" id="newpass"
                                        aria-describedby="emailHelp" placeholder="Ingrese su nueva contraseña">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="confirmnewpass">Confirma contraseña</label>
                                    <input name="confirmnewpass" type="password" class="form-control"
                                        id="confirmnewpass" aria-describedby="emailHelp"
                                        placeholder="Confirme su nueva contraseña">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Cambiar
                                        contraseña</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let form = document.getElementsByTagName('form')[0];

    // Se crea el alerta
    const alert = document.createElement('div');
    alert.classList.add('alert', 'alert-danger');
    const child = form.children[0];
    form.insertBefore(alert, child);
    CloseAlert();

    form.addEventListener('submit', (evt) => {
        evt.preventDefault();

        const newpass = document.getElementById('newpass').value;
        const confirmPass = document.getElementById('confirmnewpass').value;

        if (confirmPass !== newpass) {
            ShowAlert(alert, form, 'Las contraseñas no son iguales.');
        } else {
            if (newpass.length < 6) {
                ShowAlert('La contraseña no cumple con el minimo de tamaño');
            } else {
                form.submit();

            }
        }


    });

    function ShowAlert(msg) {
        alert.style.visibility = 'visible';
        alert.textContent = msg;
    }
    function CloseAlert() {
        alert.style.visibility = 'hidden';
    }
</script>

</html>