<!doctype html>
<html lang="en" dir="ltr">

{{>head title='Planificador'}}

<body class="">
    <div class="page">
        <div class="flex-fill">
            {{>header }}

            <div class="my-3 my-md-5">
                <div class="">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="container">
                                <div class="card" style="height: 490px;">
                                    <div class="card-header">
                                        <h3 class="card-title">Planificador</h3>
                                        <div class="card-options">
                                            <form action="">
                                                <div class="input-group">
                                                    <span class="input-group-btn ml-2">
                                                        <button class="btn btn-sm btn-secondary" id="prjct-btn"
                                                            type="button">
                                                            Nuevo proyecto
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div id="project-bar" class="container mt-4">
                                        <div class="row">
                                            <div class="col-2">
                                                Agregar tarea
                                            </div>
                                            <div class="col-2">
                                                Invitar usuario
                                            </div>
                                            <div class="col-4">
                                                Proyecto
                                            </div>
                                            <div class="col-3">
                                                Vista del cronograma
                                            </div>
                                            <div class="col-1">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                                <button id="add-task" class="btn btn-icon btn-secondary btn-sm">
                                                    <i class="fe fe-plus-square"></i>
                                                </button>
                                            </div>
                                            <div class="col-2">
                                                <button id="add-admin" class="btn btn-icon btn-secondary btn-sm">
                                                    <i class="fe fe-user-plus"></i>
                                                </button>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <select name="beast" id="select-beast"
                                                        class="form-control form-control-sm custom-select">
                                                        {{!-- <option value="1" selected>Escoge un proyecto</option> --}}
                                                        {{#each projects}}
                                                        <option value="{{this.id}}">{{this.nombre}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <select id="view-modes"
                                                        class="form-control form-control-sm custom-select">
                                                        <option value="Quarter Day">Primer día del trimestre</option>
                                                        <option value="Half Day">Medio día</option>
                                                        <option value="Day">Diario</option>
                                                        <option value="Week">Semanal</option>
                                                        <option value="Month">Mensual</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button id="delete-btn" class="btn btn-secondary btn-sm">
                                                    <i class="fe fe-trash-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="project-tasks" class="card-body" style="overflow-y: scroll;">
                                        <div class="content mt-4">
                                            <label for="">Tareas</label>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="">Nombre</label>
                                                </div>
                                                <div class="col-2">
                                                    <label for="">Progreso</label>
                                                </div>
                                                <div class="col-3">
                                                    <label for="">Tarea previa</label>
                                                </div>
                                                <div class="col-1">
                                                    <label for="">
                                                        <i class="fe fe-sliders"></i>
                                                    </label>

                                                </div>
                                            </div>
                                            <ul id="task-list">

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-list text-right">
                                            <button id="update-tasks-button"
                                                class="btn btn-primary disabled">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="height:490px; overflow-y: scroll">

                                <div style="border: 1px solid #ddd;border-radius: 3px;">
                                    <svg id="gantt" class="gantt"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{>footer}}
        <script src="/apps/admin-template/planner.js"></script>
        <script src="/apps/admin-template/modal.js"></script>
        <script src="/apps/admin-template/selectable.js"></script>

    </div>
</body>

</html>