<!DOCTYPE html>
<html lang="en">
{{>head title='Redireccionando'}}
{{ manage_credentials user }}

<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div style="padding-top: 30rem !important;" class="loader"></div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>

</html>