<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redireccionando</title>
    {{ manage_credentials user }}

</head>

<body>
    <p>Espero un momento porfavor...</p>
</body>

</html>