<!doctype html>
<html lang="es" dir="ltr">

{{>head title='Configuraciones'}}

<body class="">
    <div class="page">
        <div class="flex-fill">
            {{>header }}

            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <h3 class="page-title mb-5">Configuración</h3>
                            <div>
                                <div class="list-group list-group-transparent mb-0">
                                    <a id="general" data-ref="general" href="#"
                                        class="list-group-item list-group-item-action d-flex align-items-center active">
                                        <span class="icon mr-3"><i class="fe fe-sliders"></i></span>
                                        General
                                    </a>
                                    {{#if isAdmin}}
                                    <a id="members" data-ref="members" href="#"
                                        class="list-group-item list-group-item-action d-flex align-items-center">
                                        <span class="icon mr-3"><i class="fe fe-users"></i></span>
                                        Miembros
                                    </a>
                                    {{/if}}
                                </div>

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Propiedades</h3>
                                </div>
                                <div id="Body-Content" class="card-body">
                                    <form id="general-content" action="">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <div class="form-label">Temas</div>
                                                    <div class="custom-switches-stacked">
                                                        <label class="custom-switch">
                                                            <input id="darkSwitch" type="checkbox"
                                                                name="custom-switch-checkbox"
                                                                class="custom-switch-input">
                                                            <span class="custom-switch-indicator"></span>
                                                            <span class="custom-switch-description">Oscuro</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                {{!-- Configuración 2 --}}
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                {{!-- Configuración 3 --}}
                                            </div>
                                        </div>

                                        <div class="btn-list mt-4 text-right">
                                            <button type="submit" class="btn btn-primary btn-space">Actualizar</button>
                                        </div>
                                    </form>
                                    {{#if isAdmin}}
                                    <form id="members-content" style="display: none;" action="">
                                        <h2>Miembros administradores</h2>
                                        <div class="container">
                                            {{settings admins}}
                                        </div>
                                    </form>
                                    {{/if}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
        <script src="/apps/admin-template/modal.js"></script>
        <script src="/apps/admin-template/settings.js"></script>
    </div>
</body>

</html>